.bottom-box-buttom {
    margin-top:10px;
    float: right;
}

.bottom-box {
    margin-top:10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.loading-spiner-holder {
	position: absolute;
	left:50%;
	top:30%;
	z-index: 100;
	background: white;
}
