<div class="container" style="top:10px;">
    <div class="col-md-12">
		<!-- Search area -->
		<div class="card">
		  <div class="card-header">
		    Pesquisar Sistema
		  </div>
		  <div class="card-block">
			<!-- Form -->
			<div class="row">
				<div class="col-md-12">
					<form name="search_system" >
					  	<div class="form-group row">
						  <label for="description" class="col-2 col-form-label">Descrição </label>
						  <div class="col-10">
						    <input class="form-control" type="text" name="Descrição" ng-model="query.description" id="description">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="initials" class="col-2 col-form-label">Sigla </label>
						  <div class="col-10">
						    <input class="form-control" type="text" name="Sigla" ng-model="query.initials" id="initials" >
						  </div>
						</div>
						<div class="form-group row">
						  <label for="attendance_email" class="col-2 col-form-label">E-mail de Atend.</label>
						  <div class="col-10">
						    <input class="form-control" type="email" name="E-mail de Atendimento" ng-model="query.attendance_email" id="attendance_email" required>
						  </div>
						</div>
					</form>
				</div>
		    </div>
			<!-- Form !end -->

			<div class="row" ng-show="submited" >
				<div class="col-md-12">
					<div class="card">
					  <div class="card-header">
					    Resultado da Consulta
					  </div>
					  <div class="card-block" ng-hide="systems.length == 0">
					  	<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>Descrição</th>
						      <th>Sigla</th>
						      <th>E-mail de Atendimento</th>
						      <th>URL</th>
						      <th>Status</th>
						      <th>Ações</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="system in systems">
						      <td>{{system.description}}</td>
						      <td>{{system.initials}}</td>
						      <td>{{system.attendance_email}}</td>
						      <td>{{system.url}}</td>
						      <td>{{system.status}}</td>
						      <td><button type="button" class="btn btn-secondary disabled" '>Editar</button></td>
						    </tr>
						  </tbody>
						</table>

						<nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-center"">
						    <li class="page-item">
						      <a class="page-link" aria-label="Previous" ng-click="paginationPrevious();">
						        <span aria-hidden="true">&laquo;</span>
						        <span class="sr-only">Anterior</span>
						      </a>
						    </li>
						    <li class="page-item" ng-repeat=" page in range(pagination.total) track by $index ">
						    	<a class="page-link" ng-click="goTo($index + 1);">{{$index + 1}}</a>
						    </li>
						    <li class="page-item">
						      <a class="page-link" aria-label="Next" ng-click="paginationNext();">
						        <span aria-hidden="true">&raquo;</span>
						        <span class="sr-only">Próximo</span>
						      </a>
						    </li>
						  </ul>
						</nav>

					  </div>

					  <div class="card-block" ng-show="systems.length == 0">
					  	<p>Nenhum Sistema foi encontrado. Favor revisar os critérios da sua pesquisa!</p>
					  </div>
					</div>
				</div>
			</div>

		  <div class="row bottom-box-buttom">
		    <div class="col-md-12">
				<button type="button" class="btn btn-secondary" ng-click='search();'>Pesquisar</button>
				<button type="button" class="btn btn-primary" ng-click="clearFieldsQuery();">Limpar</button>
				<a href="#/system/new" class="btn btn-success">Novo Sistema</a>
		    </div>
		  </div>
		</div>
		<!-- Search area !end -->
    </div>
</div>